#deals_container
{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 6vh auto;
}
.container1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#head
{
    font-size: 2.5rem;
}
.anchor
{
    text-decoration: none;
    background-color: rgb(158, 253, 221);
    margin: 3vh 1vw;
    padding: 2vw 2vw;
    color: black;
    border-radius: 12px;
    /* max-height: 43vh; */
    height: 45vh;
}
.item_box
{
    flex-direction: column;
}
.img_sapce img
{
    max-height: 25vh;
    border-radius: 10px;
}

.product_name
{
    font-size: 1.2rem;
    margin: 1vh auto;
    margin-top: 3vh;
}

.img_sapce
{
    margin: 0vh auto;
}
@media only screen and (max-width:1245px)
{
    #head
    {
        font-size: 2rem;
    }
}

@media only screen and (max-width:850px)
{
    .product_name
    {
        font-size: 1rem;
    }
}
@media only screen and (max-width:720px)
{
    /* .item_box
    {
        width: 80vw;
    } */
    .anchor
    {
        width: 86%;
    }
}
@media only screen and (max-width:430px)
{
    .anchor
    {
        width: 96%;
        height: 40vh;
    }
    #head
    {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
