*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.alert {
    font-size: 2rem;
    color: #387ade;
    margin-right: 10px;
}
body{
    background: #fafaf6;
    font-family: 'Kanit', sans-serif;
}
#logo{
    display: flex;
    align-items: center;
}
#logo-head{
    color: #497ae2;
    font-size: 1.8rem;
    font-family: 'Pacifico', cursive;
    margin: 0 0vw;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    width: 85vw;
    backdrop-filter: blur(6px);
    margin-inline: auto;
}
#navbar img{
    width: 3.5vw;
    margin: 0 3vw;
}

#navbar ul{
    display: flex;
    margin: 1vh 0vw;
    align-items: center;
}
#navbar ul li{
    list-style-type: none;
    font-size: 1.1rem;
    margin: 0 1.5vw;
    display: flex;
}
#navbar ul li a{
    color: black;
    text-decoration: none;
}
#navbar ul li a:target{
    color: #1760a5;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: #1760a5;
    text-decoration: none;
}

#home, #services{
    display: none;
}



footer{
    text-align: center;
    width: 100%;
    padding-bottom: 2vh;
    color: #ccc ;
}
.items{
    margin-inline: 20px;
    color: #387ade;
    font-size: 17px;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.items :hover{
    color: cyan;
}

.contect{
    width: 90%;
    text-align: center;
    margin: 1vh auto;
    margin-bottom: 0px;
    margin-top: 10vh;
}
.contect a{
    margin: 10px;
    font-size: 30px;
    color: #8ac5d8;
}
.contect a :hover{
font-size: 35px;
}




@media only screen and (max-width :750px){
   .items{
       margin: 10px;
   }
   #navbar{
    width: 90vw;
   }
}

@media only screen and (max-width :582px){
    #navbar{
        flex-direction: column;
        width: 100vw;
    }
    #navbar img{
        display: none;
    }
    
    #contact input,textarea{
        width: 90vw;
    }
    
    
    #footer ul li img{
        width: 10vw;
        margin: 2vh 2.5vw;
        padding: 1.5vh 0.6vw;
    }
    .item-container{
        margin: 0px;
    }
    .items{
        margin-inline: 4px;
    }
}


    
#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact{
    position: relative;
    width: 430px;
    margin: 4vh auto;
}

/* @media only screen and (max-width :768px){
    #contact{
        width: 80%;
    }
 } */
    
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#info h1{
    font-size: 1.6rem;
    margin: 2vh auto;
}
#info span{
    opacity: 0.8;
    font-size: 1.1rem;
}
#info a{
    text-decoration: none;
    color: blue;
}
#contact::before{
    content: "";
    background: lightblue;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.9;
    height: 100%;
}
#contact input{
    padding: 0.5vh 0vw;
    margin: 1.5vh 0vw;
    font-family: 'Kanit', sans-serif;
    width: 340px;
    border: 1px solid rgb(76, 91, 133);
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
}
 @media only screen and (max-width :500px){
    #contact input{
        width: 330;
        font-size: 0.9rem;
    }
    #info h1{
        font-size: 1.1rem;
        margin: 1vh auto;
    }
    #contact{
        width: 370px;
    }
    #contact span{
        font-size: 1rem;
    }
}
 @media only screen and (max-width :400px){
    #contact input{
        width: 250px;
        font-size: 0.9rem;
    }
    #info h1{
        font-size: 1rem;
        margin: 0.5vh auto;
    }
    #contact{
        width: 280px;
    }
    #contact span{
        font-size: 0.8rem;
    }
}
/*
@media only screen and (max-width :560px){
    #contact input{
        width: 80vw;
        font-size: 0.8rem;
    }
    #contact{
        width: 90%;
    }
 } */
#contact input:focus,textarea{
    outline: none;
}
.btn{
    background-color: #2576df;
    color: white;
    margin: 1vh 1vw;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1vh;
    font-size: 18px;
    padding: 0px 7px;
    border: none;
    font-family: 'Kanit', sans-serif;
}
.btn:hover{
    background-color: #1f4a83;
}
