*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.graph_img{
    width: 73vw;
    margin-top: 25px;
    height: 200px;
}

.alert {
    font-size: 2rem;
    color: #387ade;
    margin-right: 10px;
}
body{
    background: #fafaf6;
    font-family: 'Kanit', sans-serif;
}
#logo{
    display: flex;
    align-items: center;
}
#logo-head{
    color: #387ade;
    font-size: 1.8rem;
    font-family: 'Pacifico', cursive;
    margin: 0 0vw;
    text-decoration: none;
    
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    width: 85vw;
    backdrop-filter: blur(6px);
    margin-inline: auto;
}
#navbar img{
    width: 3.5vw;
    margin: 0 3vw;
}

#navbar ul{
    display: flex;
    margin: 1vh 0vw;
    align-items: center;
}
#navbar ul li{
    list-style-type: none;
    font-size: 1.1rem;
    margin: 0 1.5vw;
    display: flex;
}
#navbar ul li a{
    color: black;
    text-decoration: none;
}
#navbar ul li a:target{
    color: #1760a5;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: #1760a5;
    text-decoration: none;
}
#sign-in{
    background-color: #2576df;
    cursor: pointer;
    color: white;
    border-style: none;
    border-radius: 6px;
    padding: 0.9vh 1vw;
}
#sign-in:hover{
    background-color: #1760a5;
}

#home::before{
    content: "";
    background: lightblue;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.4;
    height: 100%;
}  
#home span{
    text-align: center;
    width: 70vw;
    font-size: 28px;
    margin: 2vh 0;
}
#home input{
    display: block;
    padding: 1.5vh 1vw;
    margin: 4vh auto;
    font-size: .9rem;
    font-family: 'Kanit', sans-serif;
    width: 45vw;
    border: 2px solid rgb(201, 235, 123);
    text-align: center;
    border-radius: 8px;
}
#home input:focus{
    outline: none;
}
.btn{
    background-color: #2576df;
    color: white;
    margin: 2px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 5px;
    border: none;
    font-family: 'Kanit', sans-serif;
    display: block;
}
.btn:hover{
    background-color: #1f4a83;
}
#pbtn{
    margin: 0px 65px;
}
#services .box{
    display: flex;
    justify-content: center;
}
#services .box img{
    width: 16vw;
    padding: 0vh 2vw; 
}
#services::before{
    content: "";
    background: lightblue;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: .4;
    height: 100%;
} 

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1vh 2vw;
    margin: 6vh 7vw;
}
.container h1{
    color: #3b7198;
    text-shadow: 3px 3px 3px grey;
    font-size: 2rem;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact::before{
    content: "";
    background: lightblue;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.4;
    height: 100%;
}
#contact input,textarea{
    padding: 1vh 1vw;
    margin: 1vh 0vw;
    font-family: 'Kanit', sans-serif;
    width: 45vw;
    border: 1px solid rgb(76, 91, 133);
    text-align: center;
    border-radius: 8px;
    font-size: 1.1rem;
}

#contact input:focus,textarea{
    outline: none;
}

footer{
    /* bottom: 2vh; */
    padding-bottom: 2vh;
    text-align: center;
    width: 100%;
    color: #ccc ;
}
.items{
    margin-inline: 20px;
    /* color: #45a0e2;   optional color */
    color: #387ade;
    font-size: 17px;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.items :hover{
    color: cyan;
}

.contect{
    width: 90%;
    text-align: center;
    margin: 1vh auto;
    margin-bottom: 30px;
}
.contect a{
    margin: 10px;
    font-size: 30px;
    color: #8ac5d8;
}
.contect a :hover{
font-size: 35px;
}


@media only screen and (max-width :750px){
.items{
    margin: 10px;
}
#navbar{
    width: 90vw;
}
}

@media only screen and (max-width :582px){
    #navbar{
        flex-direction: column;
        width: 100vw;
    }
    #navbar img{
        display: none;
    }
    
    #home h1{
        font-size: 1.8rem;
        margin: 2vh 1vw;
    }
    
    #home input{
        width: 80vw;
        font-size: 18px;
        padding: 0.8vh 1vw;
        margin-block: 13px;
    }
    
    
    #services h1{
        font-size: 1.7rem;
        margin: 1vh 1vw;
        padding: 2vh 1vw;
    }
    
    
    #contact input,textarea{
        width: 90vw;
    }
    
    #services .box img {
        width: 41vw;}
    
    #footer ul li img{
        width: 10vw;
        margin: 2vh 2.5vw;
        padding: 1.5vh 0.6vw;
    }
    .container{
        width: 98%;
        margin-inline: auto;
    }
    .item-container{
        margin: 0px;
    }
    .items{
        margin-inline: 4px;
    }
    
    #home span{
        width: 95vw;
        margin-block: 0px;
    }
}


/* result section **************************************************************************************/

#result{
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 2vh 0;

}

#result::before{
    content: "";
    background: lightblue;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.4;
    height: 100%;
}
#product_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}
#product_info #img{
    display: flex;
    align-items: center;
    justify-content: center;
}
#product_info img{
    border: 2px solid white;
    border-radius: 10px;
    max-width: 20vw;
}
#result span{
    text-align: center;
    width: 70vw;
    font-size: 1.3rem;
    margin-top: 4vh;
}
#result input{
    padding: 1.5vh 1vw;
    margin: 4vh 0vw;
    font-size: .9rem;
    font-family: 'Kanit', sans-serif;
    /* width: 45%; */
    border: 2px solid rgb(201, 235, 123);
    text-align: center;
    border-radius: 8px;
}
#result input:focus{
    outline: none;
}
#result button{
    background-color: rgb(41, 109, 211);
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 1vh 1vw;
}
#result button:hover{
    background-color: #497ae2;
}

#prod_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 5vh;
}
#prod_name h2{
    /* text-shadow: 3px 3px 3px grey; */
    font-size: 1.6rem;
    margin: 2vh 1vw;
}
#prod_name h3{
    /* text-shadow: 3px 3px 3px grey; */
    font-size: 1.3rem;
    margin: 0vh 1vw;
}


/* profile csss ***************************************************************** */

#profile{
    margin: 2vh auto;
    position: relative;
    width: 750px;
}
#profile h1{
    font-size: 1.9rem;
    padding: 1vh 0;
}
#pinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 2vw;
}
#pinfo2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.pitems{
    margin: 1vh 2vw;
    font-size: 1.3rem;
}

table,td,th{
    margin: 5vh auto;
    padding: 1vh 1.3vw;
    text-align: start;
    font-size: 1.1rem;
}
#profile::before{
    content: "";
    background: lightblue;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.4;
    height: 100%;
} 

@media only screen and (max-width:800px)
{
    #profile{
        margin: 2vh auto;
        width: 90%;
    }
    #profile h1{
        font-size: 1.5rem;
        padding: 1vh 0;
    }
    .pitems{
        margin: 1vh 2vw;
        font-size: 1rem;
    }
    table,td,th{
        margin: 2vh auto;
        padding: 1vh 1vw;
        text-align: center;
        font-size: 0.9rem;
    }
    .btn{
        font-size: 0.9rem;
        padding: 0.2vh 1vw;
    }
    
}

@media only screen and (max-width:750px){

    #prod_name h2{
        /* text-shadow: 1px 1px 1px grey; */
        font-size: 1.3rem;
        margin: 1vh 1vw;
    }
    #prod_name h3{
        /* text-shadow: 1px 1px 1px grey; */
        font-size: 1rem;
        margin: 0vh 1vw;
    }
    #result input{
        padding: 1vh 1vw;
        margin: 2vh 0vw;
        font-size: .9rem;
    }
    #result span{
        font-size: 1.1rem;
    }
}



@media only screen and (max-width :582px){
    #prod_name h2{
        /* text-shadow: 1px 1px 1px grey; */
        font-size: 1rem;
        margin: 1vh 1vw;
    }
    #prod_name h3{
        /* text-shadow: 1px 1px 1px grey; */
        font-size: 0.8rem;
        margin: 0vh 1vw;
    }
    #result input{
        padding: 0.5vh 1vw;
        margin: 1vh 0vw;
        font-size: .9rem;
    }
    #result span{
        font-size: 0.8rem;
    }
    .graph_img{
        width: 84vw;
        height: 150px;
        margin-top: 25px;
    }
}


@media only screen and (max-width:350px)
{
    #profile{
        width: 96%;
    }
    .graph_img {
        width: 84vw;
        height: 120px;
        margin-top: 25px;
    }
}

/* -----------------------------Admin CSS------------------------------------- */
.count{
    padding-left: 8vh;
}