<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/956eba022e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kanit:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="static/favicon.ico" />

    <title>Alertifier.com</title>

    <script type="text/javascript">
        function showLoader() {
            document.getElementById("loader").style.display = 'block';
        }
    </script>
</head>



<body>


    <nav id="navbar">
        <div id="logo">
            <i class="fas alert fa-bell"></i>
            <h1 ><a id="logo-head" href="/"> Alertifier</a></h1>
        </div>
        <div class="item-container">

            <a class="items" href="/">Home</a>
            <a class="items" href="/deals">Today's Deals</a>
            <a href="/admin_panel"><button class="items" id="sign-in">Dashboard</button></a>
        </div>
    </nav>




    <section id="contact" class="container">
        <h1>Add Deal Products</h1>
        <form action="/add_deals" method="post">
            <div>
                <input type="text" name="name" id="name" placeholder="Enter product name" required>
            </div>
            <div>
                <input type="number" name="price" id="price" placeholder="Enter price" required>
            </div>
            <div>
                <input type="text" name="link" id="link" placeholder="Enter product's link link" required>
            </div>
            <div>
                <input type="text" name="img_link" id="img_link" placeholder="Enter product's image link" required>
            </div>
            <div style="text-align:center;"> <h3>Which Service ?</h3>
                <input style = "width:auto;" type="radio" name="service" id="amazon" value="Amazon" required>
                <label for="amazon">Amazon</label>
                <input style = "width:auto;" type="radio" name="service" id="flipkart" value="Flipkart" required>
                <label for="flipkart">Flipkart</label>
                
            </div>
            
            <div>
                <button class="btn">Submit</button>
            </div>
        </form>
    </section>

    <div class="contect" data-aos="zoom-in" data-aos-delay="300">
        <a href="https://www.instagram.com/mr._sourabh7/"> <i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sourabh04117022"><i class="fab fa-twitter"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/sourabhverma7/"> <i
                class="fab fa-linkedin"></i></a>
        <a target="_main" href="https://github.com/sourabhv7"> <i class="fab fa-github"></i></a>
        <a href="https://t.me/geekerbuddy"> <i class="fab fa-telegram"></i></a>
    </div>
    <footer>
        <p>Copyright &copy; 2021 Alertifier. All rights reserved</p>
    </footer>
</body>

</html>