<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/style.css')}}"> 
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/deals.css')}}"> 
  <!--  <link rel="stylesheet" href="css/style.css"> -->
   <!-- <link rel="stylesheet" href="/././css/deals.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/956eba022e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kanit:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{{url_for('static',filename='favicon.ico')}}" />

    <title>Alertifier.com</title>
</head>

<body>


    <nav id="navbar">
        <div id="logo">
            <i class="fas alert fa-bell"></i>
            <h1 ><a id="logo-head" href="/"> Alertifier</a></h1>
        </div>
        <div class="item-container">

            <a class="items" href="/">Home</a>
            <a class="items" href="#services">Today's Deals</a>
            <a href="/dashboard"><button class="items" id="sign-in">Dashboard</button></a>
        </div>
    </nav>

<!-- todays deals section -->

    <marquee  direction="up"><h1 style="text-align: center; margin-top: 5vh;">Todays Deals</h1></marquee>
    <section id="deals_container" class="container1">

    {% for product in products %}
        <a href="{{product.link}}" target="_blank" class="anchor">
            <div class="item_box container1">
                <div class="img_sapce">
                    <!--<img src="{{url_for ('static',filename='img/demo.jpg')}}" alt="">-->
                    <img src="{{product.img_link}}" alt="">
                </div>
                <div class="product_name">{{product.name[0:30]}}</div>
                <div>Deal Price Rs. {{product.price}}</div>
            </div>
        </a>
    {% endfor %}
       
    </section>



    <div class="contect" data-aos="zoom-in" data-aos-delay="300">
        <a href="https://www.instagram.com/mr._sourabh7/"> <i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sourabh04117022"><i class="fab fa-twitter"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/sourabhverma7/"> <i
                class="fab fa-linkedin"></i></a>
        <a target="_main" href="https://github.com/sourabhv7"> <i class="fab fa-github"></i></a>
        <a href="https://t.me/geekerbuddy"> <i class="fab fa-telegram"></i></a>
    </div>
    <footer>
        <p>Copyright &copy; 2021 Alertifier. All rights reserved</p>
    </footer>
</body>

</html>