<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/956eba022e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kanit:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <title>alertifier.com</title>
    <script type="text/javascript">
        function showLoader() {
            document.getElementById("loader").style.display = 'block';
        }
    </script>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <i class="fas alert fa-bell"></i>
            <h1 ><a id="logo-head" href="/"> Alertifier</a></h1>
        </div>
        <div class="item-container">

            <a class="items" href="/">Home</a>
            <a class="items" href="/deals">Today's Deals</a>
            <a href="/dashboard"><button class="items" id="sign-in">Dashboard</button></a>
        </div>
    </nav>


    <section id="home" class="container">
        <h1>Welcome to Alertifier</h1>
        <span>
            We provide an instant alert when your product's price is dropped at your saved price.
            You will receive an instant alert SMS and email also.
        </span>
        <form action="/" method="post">
            <input type="text" name="url" placeholder="Paste product link here...">
            <button type="submit" class="btn" OnClick="showLoader();">Get Details</button>
            <img id="loader" style="display: none;margin: auto;padding: 2%;height: 150px;"
                src="/static/img/loading.gif">
        </form>
    </section>


    <section id="result" class="container">

        {% if data['amazon'] or data['flipkart'] %}


        <div id="product_info">
            <div id="img"><img src="{{data['image']}}" alt="{{data['title']}}"></div>
            <div id="prod_name">
                <h2>{{data['title'][0:70]}}</h2>
                
                <h3>Price : <span id = "price"> {{data['price']}} </span> </h3>
            </div>

        </div>
            {% if data['graphImg'] %}

            <div id="graph_img" ><img class="graph_img" src="{{data['graphImg']}}" alt="Price History Graph"></div>

            {% endif %}

        <span>Set price alert for this item</span>

        <form onsubmit ="return compare_input()" action="/add_item" method="post">
            <div>
                <input type="number" id="set_price" name="set_price" placeholder="Set Price" required>
                <span id = "message" style="color:red"> </span>
            </div>

            <div id="pbtn">
                <button type="submit">Set Alert</button>
            </div>
            {% else %}
            <div id="prod_name">
                <h2>Unable to find product or you entered wrong link.</h2>

                {% endif %}

        </form>
    </section>
    <section id="services" class="container">
        <h1>We Provide Services For</h1>
        <div class="box">
            <div id="amz" class="amxflip">
                <img src="{{url_for('static', filename = 'img/amazlogo.png')}}" alt="www.amazon.com">
            </div>
            <div id="flip" class="amxflip">
                <img src="{{url_for('static', filename = 'img/fliplogo.png')}}" alt="www.flipkart.com">
            </div>
        </div>
    </section>

    <section id="contact" class="container">
        <h1>Contact Us</h1>
        <form action="/contact" , method="post">
            <div>
                <input type="text" name="name" id="name" placeholder="Enter your name" required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div>
                <input type="phone" name="phone" id="phone" placeholder="Enter your phone (Optional)">
            </div>
            <div>
                <textarea style="resize:none" name="message" id="message" cols="30" rows="5"
                    placeholder="Enter your message" required></textarea>
            </div>
            <div>
                <button class="btn">Submit</button>
            </div>
        </form>
    </section>

    <div class="contect" data-aos="zoom-in" data-aos-delay="300">
        <a href="https://www.instagram.com/mr._sourabh7/"> <i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sourabh04117022"><i class="fab fa-twitter"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/sourabhverma7/"> <i class="fab fa-linkedin"></i></a>
        <a target="_main" href="https://github.com/sourabhv7"> <i class="fab fa-github"></i></a>
        <a href="https://t.me/geekerbuddy"> <i class="fab fa-telegram"></i></a>
    </div>
    <footer>
        <p>Copyright &copy; 2021 Alertifier. All rights reserved</p>
    </footer>
</body>


</html>
