<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/956eba022e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kanit:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <title>alertifier.com</title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <i class="fas alert fa-bell"></i>
            <h1 ><a id="logo-head" href="/"> Alertifier</a></h1>
        </div>
        <div class="item-container">

            <a class="items" href="/">Home</a>
            <a class="items" href="/deals">Today's Deals</a>
            <a href="/dashboard"><button class="items" id="sign-in">Dashboard</button></a>
        </div>
    </nav>
    <section id="profile">
        <div id="pinfo">
            <h1>Your Profile</h1>
            <div id="pinfo2">
                <label class="pitems">Name : {{user_data.name}}</label>
                <label class="pitems">Email : {{user_data.email}}</label>
                <label class="pitems">Phone : {{user_data.phone}}</label>
            </div>

            <a href="/logout"><button class="items" id="sign-in">Logout</button></a>
        </div>
        <section class="table_content">
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Alert Price</th>
                    <th>Delete Item</th>
                    <th>Buy Now</th>
                </tr>

                {% for product in products %}
                <tr>

                    <td><a href="{{product.prod_link}}" style="text-decoration: none; color: black;"
                            target="blank">{{product.title}}</a></td>
                    <td>{{product.price}}</td>

                    <!--  <td> <a href="/delete/{{product._id}}"> <button class="btn">Delete</button> </a></td> -->
                    <td>
                        <form action="/delete/{{product._id}}"
                            onclick="return confirm('Are you sure you want to delete this item?');" method="post">
                            <input class="btn" type="submit" name="delete" value="Delete" />
                        </form>
                    </td>
                    <td>
                        <a style="text-decoration: none; color: black;" href="{{product.prod_link}}" target="blank">
                            <button class="btn">Buy Now</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}


            </table>
        </section>
    </section>
    <section id="contact" class="container">
        <h1>Contact Us</h1>
        <form action="/contact" method="post">
            <div>
                <input type="text" name="name" id="name" placeholder="Enter your name" required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div>
                <input type="phone" name="phone" id="phone" placeholder="Enter your phone (Optional)">
            </div>
            <div>
                <textarea style="resize:none" name="message" id="message" cols="30" rows="5"
                    placeholder="Enter your message" required></textarea>
            </div>
            <div>
                <button class="btn">Submit</button>
            </div>
        </form>
    </section>

    <div class="contect" data-aos="zoom-in" data-aos-delay="300">
        <a href="https://www.instagram.com/mr._sourabh7/"> <i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sourabh04117022"><i class="fab fa-twitter"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/sourabhverma7/"> <i class="fab fa-linkedin"></i></a>
        <a target="_main" href="https://github.com/sourabhv7"> <i class="fab fa-github"></i></a>
        <a href="https://t.me/geekerbuddy"> <i class="fab fa-telegram"></i></a>
    </div>
    <footer>
        <p>Copyright &copy; 2021 Alertifier. All rights reserved</p>
    </footer>
</body>

</html>