<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/sign.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/956eba022e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kanit:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <title>alertifier.com</title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <i class="fas alert fa-bell"></i>
            <h1 ><a id="logo-head" href="/"> Alertifier</a></h1>
        </div>
        <div class="item-container">

            <a class="items" href="/">Home</a>
            <a class="items" href="/deals">Today's Deals</a>
        </div>
    </nav>

    <section id="contact" style="margin: 17vh auto; padding: 4vh 0;">

        <div id="info">
            <h1>Login</h1>
        <span>Don't have an account ? <a href="/register">Register</a></span>
        </div>
        <form action="/login" method = "post">
            <div>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
                <br>
                <span style = "color:red;">{{error}}</span>
              <span id="info" ><a href="/forget_pass">Forget Password</a></span>
            </div>
            <div>
                <button type = "submit" class="btn">Login</button>
            </div>
        </form>
    </section>

    <div class="contect" data-aos="zoom-in" data-aos-delay="300">
        <a href="https://www.instagram.com/mr._sourabh7/"> <i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sourabh04117022"><i class="fab fa-twitter"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/sourabhverma7/"> <i
                class="fab fa-linkedin"></i></a>
        <a target="_main" href="https://github.com/sourabhv7"> <i class="fab fa-github"></i></a>
        <a href="https://t.me/geekerbuddy"> <i class="fab fa-telegram"></i></a>
    </div>
    <footer>
        <p>Copyright &copy; 2021 Alertifier. All rights reserved</p>
    </footer>
</body>

</html>