<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/956eba022e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kanit:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <title>alertifier.com</title>
</head>

<!--<script>
    function check_pass() {
    if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
</script>  -->

<body>
    <nav id="navbar">
        <div id="logo">
            <i class="fas alert fa-bell"></i>
            <h1><a id="logo-head" href="/"> Alertifier</a></h1>
        </div>
        <div class="item-container">

            <a class="items" href="/">Home</a>
            <a class="items" href="#services">Today's Deals</a>
        </div>
    </nav>

    <section id="contact">

        <div id="info">
            <h1>Register</h1>
            <span>If already have an account ? <a href="/login">Login</a></span>
            <span id="error" style="color:red"> {{error}} </span>
        </div>

        <form onsubmit="return validateForm()" action="/register" method="post">
            <div>
                <input type="text" name="name" id="fname" placeholder="Enter your name" required>
            </div>
            <div>
                <input type="tel" name="phone" id="phone" placeholder="Enter your mobile" title="Please enter exactly 10 digits" pattern="[1-9]{1}[0-9]{9}"
                    maxlength="10" required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Create your password"> <br>
                <span id="message1" style="color:red"> </span>
            </div>
            <div>
                <input type="password" name="confirm_password" id="confirm_password"
                    placeholder="Re-enter your password"> <br>
                <span id="message2" style="color:red"> </span>
            </div>

            <div>
                <button class="btn" id="submit">Register</button>
            </div>
        </form>
    </section>

    <div class="contect" data-aos="zoom-in" data-aos-delay="300">
        <a href="https://www.instagram.com/mr._sourabh7/"> <i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sourabh04117022"><i class="fab fa-twitter"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/sourabhverma7/"> <i class="fab fa-linkedin"></i></a>
        <a target="_main" href="https://github.com/sourabhv7"> <i class="fab fa-github"></i></a>
        <a href="https://t.me/geekerbuddy"> <i class="fab fa-telegram"></i></a>
    </div>
    <footer>
        <p>Copyright &copy; 2021 Alertifier. All rights reserved</p>
    </footer>
</body>

</html>